.App {
  text-align: center;
}
.container{
  width: 600px;
  margin:100px auto 0;
}
label{
  margin-right: 10px;
}
.candidate,.panel{
  float: left;
  width: 33.33%;
}
.candidate img{
  width: 200px;
  height: 200px;
}